<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ticket Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="accordion">
    <ion-card-content style="background: blue" id="first">
      <ion-badge style="float: right" color="danger">{{ticketDetails.status}}</ion-badge>
      <p style="font-size: 22px; color: white;">{{ticketDetails.subject}}</p>
    </ion-card-content>
    <ion-card-content id="first">
      <ion-item-divider text-wrap>
        <ion-row>
          <ion-col style="font-weight: bold">Description:</ion-col>
          <ion-col>
            <span [innerHTML]= "ticketDetails.description"></span>
          </ion-col>
        </ion-row>
      </ion-item-divider>
      <ion-item-divider text-wrap>
        <ion-row>
          <ion-col style="font-weight: bold">Priority:</ion-col>
          <ion-col *ngIf="ticketDetails.priority !== ''">{{ticketDetails.priority}}</ion-col>
          <ion-col *ngIf="ticketDetails.priority === ''">N/A</ion-col>
        </ion-row>
      </ion-item-divider>
      <ion-item-divider text-wrap>
        <ion-row>
          <ion-col style="font-weight: bold">Owner:</ion-col>
          <ion-col *ngIf="ticketDetails.owner !== null">{{ticketDetails.owner.username}}</ion-col>
          <ion-col *ngIf="ticketDetails.owner === null">Owner Deatails not present.</ion-col>
        </ion-row>
      </ion-item-divider>
      <ion-item-divider text-wrap>
        <ion-row>
          <ion-col style="font-weight: bold">Severity:</ion-col>
          <ion-col>{{ticketDetails.severity}}</ion-col>
        </ion-row>
      </ion-item-divider>
      <ion-item-divider text-wrap>
        <ion-row>
          <ion-col style="font-weight: bold">Created On:</ion-col>
          <ion-col>{{ticketDetails.timeofcreation | date: 'dd/MM/yyyy'}}</ion-col>
        </ion-row>
      </ion-item-divider>
      <ion-item-divider text-wrap>
        <ion-row>
          <ion-col style="font-weight: bold">Assigned To:</ion-col>
          <ion-col *ngIf="ticketDetails.assignto !== null">{{ticketDetails.assignto.username}}</ion-col>
          <ion-col *ngIf="ticketDetails.assignto === null">Not yet Assigned</ion-col>
        </ion-row>
      </ion-item-divider>
      <ion-item-divider text-wrap>
        <ion-row>
          <ion-col style="font-weight: bold">Assigned On:</ion-col>
          <ion-col>{{ticketDetails.timeofassign | date: 'dd/MM/yyyy'}}</ion-col>
        </ion-row>
      </ion-item-divider>
    </ion-card-content>
  </ion-card>
</ion-content>